body{
  font-family: "Microsoft YaHei";
  margin: 0;
}

ul,h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  border: none;
}

input,button{
  outline: none;
  border: none;
  padding: 0;
}

.header{
  height: 136px;

  &-block{
    width: 1110px;
    margin: 0 auto;
    overflow: hidden;
    padding-right: 90px;

    .logo{
      float: left;
      height: 76px;
      margin: 10px 0;
    }

    .hotline{
      font-size: 18px;
      float:right;
      padding-left: 110px;
      margin: 36px 0;
      background: url(../images/tel_icon.png) no-repeat 0 center;
    }
  }
}

.nav{
  font-size: 18px;
  height: 40px;
  overflow: hidden;
  background: #f08519;

  &-block{
    width: 1200px;
    margin: 0 auto;
    display: flex;

    .nav-tab{
      flex: 1;
      margin: 8px 0;
      padding-left: 68px;

      .nav-link{
        padding-left: 30px;
        color: #fbdfcd;
        background-repeat: no-repeat;
        background-position: 0 center;
        position: relative;

        &.active{
          color: #fff;

          &:before{
            content: '';
            width: 100%;
            border-top: 1px solid #fff;
            position: absolute;
            left: 0;
            bottom: -4px;
          }
        }
      }

      .home-link{
        background-image: url(../images/home_icon.png);
      }

      .repo-link{
        background-image: url(../images/repo_icon.png);
      }

      .download-link{
        background-image: url(../images/download_icon.png);
      }

      .about-link{
        background-image: url(../images/about_icon.png);
      }

      .remind-link{
        background-image: url(../images/remind_icon.png);
      }

      .quit-link{
        background-image: url(../images/quit_icon.png);
      }
    }
  }
}

.main{
  margin-top: 16px;
  overflow: hidden;

  .menu{
    float: left;
    width: 360px;
    color: #fff;
    background: #f08519;
    margin-right: 1px;
    border-top: 1px solid #f5aa5e;
    border-bottom: 1px solid #f5aa5e;
    text-align: right;

    &-item{
      font-size: 24px;
      border-bottom: 1px solid #f4a351;
    }

    .has-submenu{
      padding-top: 25px;
      position: relative;
      cursor: pointer;

      .item-text{
        display: block;
        padding-right: 144px;
        position: relative;
        top: -5px;
      }

      &.open {
        color: #f08519;
        background: #fff;
        border-right: 1px solid #fbe2c9;

        .submenu{
          display: block;
        }

        .active{
          color: #f08519;
        }

        &:before{
          top: 30px;
          right: 78px;
          transform: rotate(135deg);
          border-color: #f08519;
        }
      }

      &:before{
        content: '';
        width: 16px;
        height: 16px;
        border: none;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        position: absolute;
        top: 34px;
        right: 73px;
        transform-origin: right center;
        transition: transform .3s;
        transform: rotate(45deg);
      }
    }

    .item-city{
      font-size: 18px;
      padding: 38px 121px 16px 0;
      margin-bottom: 52px;
    }

    .logout{
      font-size: 24px;
      display: block;
      width: 221px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      margin: 0 auto;
      border-radius: 5px;
      background: #f08519;
      color: #fff;
      position: relative;
      top: 70px;
      cursor: pointer;

      &:active{
        opacity: .8;
      }
    }
  }

  .content {
    float: left;
    font-size: 14px;
  }

  .submenu{
      display: none;
      padding: 6px 0;
      background: #fff;

      &-item{
        font-size: 17px;
        display: block;
        padding: 8px 122px 8px 0;
        color: #a3a3a3;
        cursor: pointer;

        &:hover{
          color: #f08519;
        }
      }
  }
}

.footer{
  height: 110px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background: #e6e5e3;
  text-align: center;
  padding: 21px 0 12px;
  color: #464646;

  .links{
    width: 434px;
    height: 52px;
    line-height: 52px;
    margin: 0 auto 16px;

    a{
      float: left;
      color: #464646;
      margin: 0 11px;
    }

    .logo{
      width: 141px;
      height: 52px;
      margin-right: 30px;
      margin-left: 0;

      img{
        width: 141px;
        height: 52px;
      }
    }
  }
}

.validate-msg{
  color: #f00;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}