body {
  font-family: "Microsoft YaHei";
  margin: 0;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

input, button {
  outline: none;
  border: none;
}

.header {
  height: 136px;
}
.header-block {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.header-block .logo {
  float: left;
  height: 76px;
  margin: 10px 0;
}
.header-block .hotline {
  font-size: 18px;
  float: right;
  padding-left: 110px;
  margin: 36px 0;
  background: url(../images/tel_icon.png) no-repeat 0 center;
}

.nav {
  font-size: 18px;
  height: 40px;
  overflow: hidden;
  background: #f08519;
}
.nav-block {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.nav-block .nav-tab {
  float: left;
  width: 200px;
  margin: 8px 0;
}
.nav-block .nav-tab .nav-link {
  padding-left: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.nav-block .nav-tab .home-link {
  background-image: url(../images/home_icon.png);
}
.nav-block .nav-tab .repo-link {
  background-image: url(../images/repo_icon.png);
}
.nav-block .nav-tab .download-link {
  background-image: url(../images/download_icon.png);
}
.nav-block .nav-tab .about-link {
  background-image: url(../images/about_icon.png);
}
.nav-block .nav-tab .remind-link {
  background-image: url(../images/remind_icon.png);
}
.nav-block .nav-tab .quit-link {
  background-image: url(../images/quit_icon.png);
}

.main {
  margin-top: 16px;
  text-align: right;
  overflwo: hidden;
}
.main .menu {
  float: left;
  width: 360px;
  color: #fff;
  background: #f08519;
  margin-right: 1px;
  border-top: 1px solid #f5aa5e;
  border-bottom: 1px solid #f5aa5e;
}
.main .menu-item {
  font-size: 24px;
  border-bottom: 1px solid #f4a351;
}
.main .menu .has-submenu {
  padding-top: 25px;
  position: relative;
  cursor: pointer;
}
.main .menu .has-submenu .item-text {
  display: block;
  padding-right: 144px;
  position: relative;
  top: -5px;
}
.main .menu .has-submenu.open {
  color: #f08519;
  background: #fff;
  border-right: 1px solid #fbe2c9;
}
.main .menu .has-submenu.open .submenu {
  display: block;
}
.main .menu .has-submenu.open:before {
  top: 30px;
  right: 78px;
  transform: rotate(135deg);
  border-color: #f08519;
}
.main .menu .has-submenu:before {
  content: '';
  width: 16px;
  height: 16px;
  border: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  top: 34px;
  right: 73px;
  transform-origin: right center;
  transition: transform .3s;
  transform: rotate(45deg);
}
.main .menu .item-city {
  font-size: 18px;
  padding: 38px 121px 16px 0;
  margin-bottom: 52px;
}
.main .menu .logout {
  font-size: 24px;
  display: block;
  width: 221px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background: #f08519;
  position: relative;
  top: 70px;
  cursor: pointer;
}
.main .menu .logout:active {
  opacity: .8;
}
.main .submenu {
  display: none;
  padding: 6px 0;
  background: #fff;
}
.main .submenu-item {
  font-size: 17px;
  display: block;
  padding: 8px 122px 8px 0;
  color: #a3a3a3;
  cursor: pointer;
}
.main .submenu-item:hover {
  color: #f08519;
}

.footer {
  height: 110px;
  background: #e6e5e3;
  text-align: center;
  padding: 21px 0 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #464646;
}
.footer .links {
  width: 434px;
  height: 52px;
  line-height: 52px;
  margin: 0 auto 16px;
}
.footer .links a {
  float: left;
  color: #464646;
  margin: 0 11px;
}
.footer .links .logo {
  width: 141px;
  height: 52px;
  margin-right: 30px;
  margin-left: 0;
}
.footer .links .logo img {
  width: 141px;
  height: 52px;
}

/*# sourceMappingURL=common.css.map */
