.content{
    margin-left: 70px;
    height: 720px;
    .bankContent{
        height: 70px;
        margin-bottom: 27px;
    }
    .myBank{
        text-align: left;
    }
}
.bankType{
    width: 1278px;
    height: 50px;
    margin-bottom: 27px;
    margin-top: 21px;
    div{
        width: 240px;
        height: 50px;
        border: 1px solid #ccc;
        margin-right: 106px;
        float: left;
        line-height: 45px;
        box-sizing: border-box;
        padding-left: 68px;
        text-align: left;
        font-size: 24px;
        background: url(../../images/back1.jpg) no-repeat 10px center;
        &:nth-child(2){
            background-image: url(../../images/back2.jpg);
        }
        &:nth-child(3){
            background-image: url(../../images/back3.jpg);
        }
        &:nth-child(4){
            background-image: url(../../images/back4.jpg);
            margin: 0;
        }
    }
}
.bankContent{
    input{
        border-radius: 5px;
    }
    .bankContentTop{
        height: 20px;
        margin-bottom: 26px;
        span{
            width: 80px;
            height: 20px;
            line-height: 20px;
            color: #000;
            font-size: 14px;
            text-align: right;
            float: left;
        }
        select{
            height: 22px;
            width: 142px;
            margin-right: 223px;
            height: 20px;
            width: auto;
            width: 140px;
            margin-right: 120px;
            float: left;
            border-radius: 5px;
            padding-left: 10px;
        }
        .bank{
            margin-right: 180px;
        }
        input{
            height: 20px;
            width: 140px;
            border: 1px solid #CCCCCC;
            outline: none;
            float: left;
            padding-left: 10px;
        }
    }
    .bankContentBtn{
        height: 20px;
        span{
            width: 80px;
            height: 20px;
            line-height: 20px;
            color: #000;
            font-size: 14px;
            text-align: right;
            float: left;
        }
        .number{
            height: 20px;
            width: 140px;
            border: 1px solid #CCCCCC;
            outline: none;
            float: left;
            margin-right: 260px;
        }
        .submit{
            width: 110px;
            height: 26px;
            border:1px solid #1352c0;
            background-color: #1867f0;
            float: left;
            color: #fff;
            cursor: pointer;
        }
    }
}
.myBank{
    .bankTitle{
        text-align: left;
        font-size: 14px;
        color: #000;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bankPrompt{
        text-align: left;
        font-size: 12px;
        color: #585858;
        font-style: initial;
    }
    .ultitle,.Bankinfo{
        width: 1234px;
        margin-left: 10px;
    }

    .ultitle{
        margin-top: 42px;
        overflow: hidden;
        div{
            width: 20%;
            float: left;
            font-size: 14px;
            color:#000;
        }
    }
    .Bankinfo{
        li{
            width: 100%;
            height: 35px;
            line-height: 45px;
            font-size: 14px;
            color: #555;
            background: #F7F7F7;
            
            div{
                width: 20%;
                float: left;
            }
            .del{
                color: #0072fe;
                cursor: pointer;
            }
        }
    }
    
}
