body {
  margin: 0;
}

.buyback_record {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}
.container .time,
.container .state {
  margin-bottom: 26px;
}
.container .time label,
.container .state label {
  font-size: 14px;
  padding-right: 10px;
}
.container .time input,
.container .time select,
.container .state input,
.container .state select {
  width: 140px;
  height: 20px;
  font-size: 12px;
  border: 1px solid #d8d8d8;
  margin-right: 234px;
  border-radius: 3px;
}
.container .time input,
.container .state input {
  width: 120px;
  height: 14px;
  padding: 2px 10px;
}
.container .query {
  width: 78px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  background: #1867f0;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  margin-bottom: 24px;
}
.container .table {
  border-collapse: collapse;
  border: 1px solid #c7c7c7;
}
.container .table th {
  width: 180px;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  text-align: left;
  padding-left: 10px;
}
.container .table th:nth-child(8),
.container .table th:nth-child(9),
.container .table th:nth-child(2),
.container .table th:nth-child(3),
.container .table th:nth-child(4),
.container .table th:nth-child(5) {
  width: 100px;
}
.container .table td {
  overflow: hidden;
  word-break: break-word;
  font-size: 12px;
  height: 34px;
  padding: 0 5px;
}
.container .page {
  margin-top: 60px;
  text-align: center;
  position: relative;
}
.container .page div {
  display: inline-block;
}
.container .page .empty,
.container .page .middle,
.container .page .right,
.container .page .left {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #737373;
}
.container .page .empty {
  height: 23px;
  margin-left: 20px;
  position: absolute;
  top: 13px;
}
.container .page p {
  display: inline-block;
  margin-left: 60px;
  cursor: pointer;
}
