p,
h1,
body{
    margin: 0;
}
.member{
    width: 1200px;
    background: #F7F7F7;
    margin: 0 auto;
    height: 800px;
}
.member_main{
    width: 100%;
    text-align: center;
    padding-bottom: 370px;
    h1{
        font-size: 22px;
        font-weight: lighter;
        padding-top: 90px;
    }
    .member_img{
        width: 300px;
        height: 300px;
        background: #b3b3b3;
        display: inline-block;
        margin: 35px 0;
        
        img{
            display: block;
            height: 300px;
        }
    }
    
    p{
        font-size: 16px;
        color: #808080;
        margin-bottom: 35px;
    }
}
