body {
  margin: 0;
}

.show {
  width: 1200px;
  background: #F7F7F7;
  margin: 0 auto;
}

.show_time {
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 90px;
  margin-bottom: 100px;
}
.show_time i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../images/recommend_show.png) no-repeat;
  background-position: center;
}

label {
  float: left;
  margin-right: 15px;
}

select {
  width: 130px;
  height: 26px;
  margin-right: 40px;
  float: left;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../images/login_yes.png) no-repeat 92px center;
  background-size: 18px 8px;
  padding-left: 26px;
  font-size: 15px;
  color: #333;
}

input[name="data"] {
  width: 160px;
  height: 25px;
  box-sizing: border-box;
  margin-right: 60px;
  padding-left: 10px;
  float: left;
  border: 1px solid #B3B3B3;
  background: url(../../images/login_yes.png) no-repeat 131px center;
  background-size: 18px 8px;
  padding-left: 26px;
  font-size: 15px;
  color: #333;
}

input[name="search"] {
  width: 180px;
  height: 26px;
  box-sizing: border-box;
  float: left;
  padding: 2px 0;
  padding-left: 24px;
  border: 1px solid #B3B3B3;
  color: #b2b2b2;
}

.show_table {
  width: 1020px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 448px;
}
.show_table .show_table_item {
  float: left;
  width: 170px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #f0b172;
  font-size: 16px;
}
.show_table .table {
  width: 1020px;
  border-collapse: collapse;
}
.show_table .table tr {
  text-align: center;
}
.show_table .table td {
  width: 170px;
  font-size: 14px;
}
