body {
  margin: 0;
}

.query_result {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 68px;
  box-sizing: border-box;
}
.query_result select {
  width: 155px;
  height: 20px;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 25px;
  outline: none;
}
.query_result form {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 330px;
}
.query_result form .form-group {
  margin-bottom: 25px;
}
.query_result form .form-group label:nth-child(1) {
  display: inline-block;
  width: 200px;
  text-align: right;
  font-size: 14px;
}
.query_result form .form-group label:nth-child(2) {
  display: inline-block;
  margin-left: 20px;
  width: 250px;
  height: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 12px;
  color: #3d3d3d;
  line-height: 20px;
}
