h1,
body{
    margin: 0;
}
.header_img{
    background: url(../../images/login_02.png) no-repeat center center;
    background-size: 100% 100%;
    height: 843px;
    position: relative;
    
}
.login{
    width: 380px;
    height: 487px;
    border: 1px solid #ccbfaf;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    padding: 24px;
    box-shadow: 0 0 40px rgba(65, 57, 53, 1);
    
    .form{
        margin-top: 40px;
        margin-left: 32px;
    }
    .form-group{
        margin-bottom: 35px;
        overflow: hidden;
    }
    h1{
        font-size: 23px;
        color: #57514a;
    }
    .login_phone,
    .login_pwd,
    .login_name{
        width: 42px;
        height: 42px;
        float: left;
        background: url(../../images/login_03.png) center center;
    }
    .login_phone{
        background: url(../../images/login_06.png) center center;
    }
    .login_pwd{
        background: url(../../images/login_08.png) center center;
    }
   
    select{
        width: 284px;
        height: 42px;
        appearance:none;  
        -moz-appearance:none;  
        -webkit-appearance:none;
        background: url(../../images/login_yes.png) no-repeat 235px center;
        padding: 12px 10px;
        
    }
     input{
        width: 230px;
        height: 30px;
        outline: none;
        padding: 5px;
        color: #000;
        position: relative;
        padding-right: 45px;
        border: 1px solid rgb(169, 169, 169);
    }
    #username,
    #password{
        background: url(../../images/login_no.png)no-repeat 235px center;
    }
    #code{
        width: 130px;
        outline: none;
        float: left;
        margin-right: 20px;
    }
    .forget{
        margin-top: 20px;
        text-decoration: none;
        float: right;
    }
    #tijiao{
        background: #f39b42;
        color: #FFF;
        border-color: #F39B42;
        outline: none;
        height: 35px;
        border-radius: 28px;
        margin-top: 16px;
        width: 304px;
        cursor: pointer;
        padding: 0;
    }
  
}
