.record {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  height: 720px;
}
.record .today {
  margin-left: 98px;
  font-size: 18px;
  margin-bottom: 35px;
}

.reward_table {
  width: 100%;
}

.table {
  border-collapse: collapse;
  border: 1px solid #c7c7c7;
  margin-left: 68px;
  margin-top: 73px;
  width: 930px;
}
.table th:nth-child(1) {
  width: 180px;
}
.table th:nth-child(2) {
  width: 108px;
}
.table th:nth-child(2) ~ th {
  width: 150px;
}
.table th {
  text-align: left;
  height: 32px;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
  background: #353535;
  border-bottom: 2px solid #ccc;
  background: #fff;
  text-align: center;
}
.table td {
  font-size: 12px;
  height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #353535;
}
.table td:nth-child(2n-1) {
  background: #f9f9f9;
}
