body{
    margin: 0;
}
.source{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: #FFF;
    height: 720px;
}
.data{
    padding-top: 73px;
    margin-left: 68px;
    margin-bottom: 65px ;
    .record_data,
    .reward_source{
        display: inline-block;
        font-size: 16px;
        color: #323232; 
        width: 148px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background: #e5e5e5;
        
    }
    .type{
        width: 150px;
        height: 26px;
        border: 1px solid #7f7f7f;
        padding-left: 5px;
        margin-right: 52px;
    }
    .record_data{
    }
    .count{
        font-size: 16px;
    }
    .time{
        width: 199px;
        height: 24px;
        border: 1px solid #7f7f7f;
        text-align: center;
    }
    
}
.reward_table{
    width: 100%;
}
.table{
     border-collapse:collapse;
     border: 1px solid #ccc;
     background: #f9f9f9;
     margin-left: 68px;
     width: 930px;
     th:nth-child(1){
         width: 150px;
     }
     th:nth-child(2){
         width: 304px;
     }
      th:nth-child(3){
         width: 236px;
     }
      th:nth-child(4){
         width: 216px;
     }
     th{
         text-align: left;
         height: 32px;
         font-size: 15px;
         font-weight: lighter;
         padding-left: 5px;
         border-bottom: 2px solid #ccc;
         text-align: center;
         color: #404040;
     }
     td{
         font-size: 12px;
         height: 30px;
         padding-left: 5px;
         text-align: center;
         color: #343434;
     }
}