p,body{
    margin: 0;
}
.record{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    
    .today{
        margin-left: 98px;
        font-size: 18px;
        margin-bottom: 35px;
    }
    
}
.data{
    padding-top: 60px;
    padding-left: 68px;
    margin-bottom: 45px;
    position: relative;
    
    .data_time,
    .data_txt{
        width: 160px;
        height: 33px;
        border: 1px solid #7f7f7f;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        display: inline-block;
        
        box-sizing: border-box;
        
    }
    .data_time{
        height: 33px;
        outline: none;
        text-align: left;
        padding-left: 10px;
        padding-right: 25px;
        
    }
    i{
        width: 10px;
        height: 5px;
        display: block;
        background: url(../../images/reward_03.png) no-repeat;  
        position: absolute;
        top: 75px;
        left: 370px;
    }
    
}
.reward_table{
    width: 100%;
}
.table{
     border-collapse:collapse;
     border: 1px solid #c7c7c7;
     
     margin: 0 auto;
     width: 930px;
     th:nth-child(1){
         width: 180px;
     }
     th:nth-child(2){
         width: 108px;
     }
      th:nth-child(3){
         width: 150px;
     }
      th:nth-child(4){
         width: 150px;
     }
      th:nth-child(5){
         width: 150px;
     }
     th:nth-child(6){
         width: 150px;
     }
     th{
         text-align: left;
         height: 32px;
         font-size: 14px;
         font-weight: lighter;
         padding-left: 5px;
     }
     td{
         font-size: 12px;
         height: 30px;
         padding-left: 5px;
     }
}
